
h1{
    color: aliceblue;
    font-size: 25px;
    font-family: "DIN Next LT W04 Medium",arial,georgia,sans-serif;
    font-weight: 100;
}

a{
    color:  #FA4454;
}

#textBody{
    margin: auto;
    text-align: center;
    /* width: fit-content; */
    /* border: 3px solid hsla(38,22%,90%,.5); */
    margin: auto;
    /* margin-left: 10%;
    margin-right: 10%; */
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 5px;
    padding-right: 5px;
    max-width: 700px;
}

#home {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.btn {
    min-width: 250px;
}

.btn__inner {
    min-width: 250px;
    padding: 25px 0px;  
    display: flex;
    flex-direction: column;
    font-family: 'VALORANT', sans-serif;
}

.btn__content {
    font-size: 1.5em;
}

.btn::before,
.btn::after {
    content: '';
    display: block;
    position: absolute;
    right: 0; left: 0;
    height: calc(50% - 5px);
    border: 1px solid var(--border-color);
    transition: all .15s ease;
}

.btn::before {
    top: 0;
    border-bottom-width: 0;
}

.btn::after {
    bottom: 0;
    border-top-width: 0;
}