.prompt{
    color:aliceblue;
    font-size: 25px;
  /* width:960px;  */
    /* transform: translate(50%); */ 
    /* position:absolute; */
}

#promptDiv{
    text-align: center;
}

#guessImageDiv{
    text-align:center;
}

#guessImage{
    width: 100px;
    height: 100px;
}

#dropdown{
    text-align:center;
    width: 300px;
    position: relative;
    z-index: 30;
    margin:auto;
    top: 30px;
    /* border: 2px solid red; */
}



.agentButton{
    display:block;
    width: 255px;
    font-size: 20px;
    font-family: 'VALORANT', sans-serif;
    padding:30px;
    height: 50px;
    margin: 5px;
    position:relative;
    left:-5px;

}


.buttonImages{
    width: 60px;
    left: -85px;
    position:relative;
    top: -30px;
    
}

#agentNames{
    position: absolute;
    max-height: 281px;
    overflow-y: clip;
    overflow-x: hidden;
}


.agentNameInButton{
    font-size: 25px;
    position:relative;
    left: 30px;
    top: -100px;
}

#searchInput{
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    display:block;
    height: 40px;
    font-family: 'VALORANT', sans-serif;
}

#userInputDiv{
    /* width: 100px; */
    /* border: 2px solid red; */
    text-align:center;
    position: relative; 
    display:flex;
    /* top: 50px; */
}

#submit{
    width:50px;
    height: 48px;
    background-color: #fa4454;

}


#fullListOfGuesses{
    /* border: 3px solid yellow; */
    font-size:20px;
    /* color:aqua; */
    /* text-align: center; */
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    text-align:center;
    position: relative;
    top: 45px;

}

.correctGuess{
    background-color: green;
}

.wrongGuess{
    background-color: rgb(255, 0, 0);
}

.guessImg{
    /* border:10px solid blue; */
    width: 70px;
    position:relative;
    left: 5px;
}

.guessText{
    position:relative;
    top: -25px;
    font-size: 20px;
    text-align: center;
}
.individualGuesses{
    /* text-align:center; */
    /* padding:20px; */
    height:100px;
}

#victoryMessage{
    color:azure;
    font-size: 40px;
    text-align:center;
    z-index: 100;
    top: 15px;
    position:relative;
}

#finalVictoryMessage{
    color:azure;
    font-size: 50px;
    text-align:center;
    z-index: 100;
    /* top: 15px; */
    position:relative;
}


#partTwoDisplay{
    border: 20px solid white;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    text-align: center;
    /* display:block; */
}


.nameInButton{
    font-family: 'VALORANT', sans-serif;
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    text-align: center;
    height: 50px;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.correctGuessName{
    background-color: green;
}

.incorrectGuessName{
    background-color: red;
}

