
.apple {
    user-select: none;
}

.containerTab{
    /* display:grid; */
    /* background-color: #0a141eee; */
    background: transparent;
    /* grid-template-rows: 50px 50px; */
}

.containerRow1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}


.btn__inner {
  padding: 15px 30px; 

}

.gameButton {
    font-size:20px;
    border-radius:10px;
    margin:5px;
    font-weight:bold;
    padding-right: 25px;
    padding-left: 25px;
    /* border-style: none; */

}


.mapImgChoice{
    padding-top:10px;
    /* background-color: #0a141eee; */
    background: transparent;
    display:grid;
    grid-template-rows: 320px;
    grid-template-columns: 1fr 320px 320px 1fr;
}

#answerBox{
    /* background-color: #fa4454 !important; */
    color: white;
    font-size: xx-large;
    text-align: center;
    width: fit-content;
    margin: auto; 

}

.imgChoice{
    grid-column-start: 2;
    grid-column-start: 3;
    pointer-events: none;
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.trueImg{
    /* background-color: #000000; */
    /* scale: 1; */
    width: 100%;
    height: 100%;
    object-fit:cover;
    overflow: hidden;
    box-sizing: content-box;
    /* object-position:100% 0; */
    /* clip-path: inset(50% 50%); */
}



.board {
    grid-template-rows: repeat(5,70px);
    /* background-color: #0a141eee; */
    background: transparent;
    width: 550px;
    /* height: 1100px; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    
  
}

.row {
    
    /* min-width: 170px;
    min-height: 170px;
    max-height: 170px;
    max-width:170px; */
    height: 70px;
    border-radius:10px;
    display: grid;
    grid-template-columns: 170px 190px 170px;
}

.tile {
  
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color:black; */
    
    margin: 5px;
    border: 1px solid #7D8082;

    overflow-wrap:break-word;
    font-size: x-large;
}



.hint {
    color: white;
    text-align: center;
}

.category{
    text-align: center;
    vertical-align: bottom;
    /* height: 50%; */
} 

.cata{
    border-bottom:solid #fa4454;
    color: white;
    position:relative;
    top:50%;
    padding:10px;
    font-size: large;

}

/* GABE */


#mapChoice{
    margin: auto;
    padding: 10px;
    position: relative;
    /* height: 320px; */
}

#curMap{
    width: 100%;
    /* object-fit: fill; */
}


.callout{
    position: absolute;
    /* padding: 2px 2px; */
    height: 15px;
    line-height: 15px;

    background: rgba(43,42,41,.8);
    color: white;
    font-size: x-small;
} 

.calloutText{
    text-align: center;
}

.callout:hover{
    transform: scale(1.065); 
    z-index: 1;
}
/* nextGameBox */

.gameResults {
    /* background-color: coral; */
    height: auto;
    width: 700px;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-direction: row;

    padding: 5px 30px 10px 10px;

    border: solid #2e3841;
    border-radius: 5px;

}

.gameResults p {
    color: azure;
    margin-left: 10px;

    
}

.NGleftSide {
    width: 30%;
    /* background-color: pink; */
    display: flex;
    flex-direction: column;

    padding: 20px;
}

.NGrightSide {
    width: 70%;
    /* background-color: cornflowerblue; */

    display: flex;
    align-items: center;
}

.gg {
    font-size: 5em;
    padding: 0;
    margin:0;
}
.imgAnswer {
    width: 100%;
    box-shadow: 10px 10px 0px #ff4655;
}

#guessAbilityButton {
    margin-top: 20px;
    padding: 0;
}


/* nextGameBox End */