body::-webkit-scrollbar{
    display:none;
}

.apple {
    user-select: none;
}

.containerTab{
    /* display:grid; */
    background-color: #000000;
    /* grid-template-rows: 50px 50px; */
}

.containerRow1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}


/* TEST VAL BUTTON  ! => border? */

/* color palette
        grey => #7D8082
        red => #ff4655
        white => #ece8e1
*/
.btn, .tile {
    /* Clean style */
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    background: none;
    padding: 0;
    color: var(--button-text-color);
    cursor: pointer;
    /* Clean style */
    
    --button-text-color: var(--background-color);
    --button-text-color-hover: var(--button-background-color);
    --border-color: #7D8082;
    --button-background-color: #ece8e1;
    --highlight-color: #ff4655;
    --button-inner-border-color: transparent;
    --button-bits-color: var(--background-color);
    --button-bits-color-hover: var(--button-background-color);
    
    position: relative;
    padding: 3px;
    margin: 5px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    transition: all .15s ease;

    
  }
  
  .btn::before,
  .btn::after {
    content: '';
    display: block;
    position: absolute;
    right: 0; left: 0;
    height: calc(50% - 5px);
    border: 1px solid var(--border-color);
    transition: all .15s ease;
  }
  
  .btn::before {
    top: 0;
    border-bottom-width: 0;
  }
  
  .btn::after {
    bottom: 0;
    border-top-width: 0;
  }
  
  .btn:active,
  .btn:focus {
    outline: none;
  }
  
  .btn:active::before,
  .btn:active::after {
    right: 3px;
    left: 3px;
  }
  
  .btn:active::before {
    top: 3px;
  }
  
  .btn:active::after {
    bottom: 3px;
  }
  
  .btn__inner {
    position: relative;
    display: block;
    padding: 15px 30px;
    background-color: var(--button-background-color);
    overflow: hidden;
    box-shadow: inset 0px 0px 0px 1px var(--button-inner-border-color);
  }
  
  .btn__inner::before {
    content: '';
    display: block;
    position: absolute;
    top: 0; left: 0;
    width: 2px;
    height: 2px;
    background-color: var(--button-bits-color);
  }
  
  .btn__inner::after {
    content: '';
    display: block;
    position: absolute;
    right: 0; bottom: 0;
    width: 4px;
    height: 4px;
    background-color: var(--button-bits-color);
    transition: all .2s ease;
  }
  
  .btn__slide {
    display: block;
    position: absolute;
    top: 0; bottom: -1px; left: -8px;
    width: 0;
    background-color: var(--highlight-color);
    transform: skew(-15deg);
    transition: all .2s ease;
  }
  
  .btn__content {
    position: relative;
  }
  
  .btn:hover {
    color: var(--button-text-color-hover);
  }
  
  .btn:hover .btn__slide {
    width: calc(100% + 15px);
  }
  
  .btn:hover .btn__inner::after {
    background-color: var(--button-bits-color-hover);
  }
  
  .btn--light {
    --button-background-color: var(--background-color);
    --button-text-color: var(--highlight-color);
    --button-inner-border-color: var(--highlight-color);
    --button-text-color-hover: #ece8e1;
    --button-bits-color-hover: #ece8e1;
  }

/* TEST VAL BUTTON END */


.gameButton {
    font-size:20px;
    border-radius:10px;
    margin:5px;
    font-weight:bold;
    padding-right: 25px;
    padding-left: 25px;
    /* border-style: none; */

}


.mapImgChoice{
    padding-top:10px;
    background-color: #000000;
    display:grid;
    grid-template-rows: 320px;
    grid-template-columns: 1fr 320px 320px 1fr;
}

#answerBox{
    /* background-color: #fa4454 !important; */
    color: white;
    font-size: xx-large;
    text-align: center;
    width: fit-content;
    margin: auto; 

}

.imgChoice{
    grid-column-start: 2;
    grid-column-start: 3;
}

.trueImg{
    background-color: #000000;
    /* scale: 1; */
    width: 100%;
    height: 100%;
    object-fit:cover;
    overflow: hidden;
    box-sizing: content-box;
    /* object-position:100% 0; */
    /* clip-path: inset(50% 50%); */
}



.board {
    grid-template-rows: repeat(5,70px);
    background-color: #000000;
    width: 500px;
    /* height: 1100px; */
    display: grid;
    margin: 0 auto;
    
  
}

.row {

    /* min-width: 170px;
    min-height: 170px;
    max-height: 170px;
    max-width:170px; */
    height: 70px;
    border-radius:10px;
    display: grid;
    grid-template-columns: 170px 170px 170px;
}

.tile {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:black;
    
    margin: 5px;
    border: 1px solid #7D8082;

    overflow-wrap:break-word;
    font-size: x-large;
   
    
}




.hint {
    color: white;
    text-align: center;
}

.category{
    text-align: center;
    vertical-align: bottom;
    /* height: 50%; */
} 

.cata{
    border-bottom:solid #fa4454;
    color: white;
    position:relative;
    top:50%;
    padding:10px;
    font-size: large;

}

/* GABE */


#mapChoice{
    margin: auto;
    padding: 10px;
    position: relative;
    /* height: 320px; */
}

#curMap{
    width: 100%;
    /* object-fit: fill; */
}


.callout{
    position: absolute;
    /* padding: 2px 2px; */
    height: 15px;
    background: rgba(58,58,60,0.5);
    color: white;
    font-size: x-small;
} 