
.apple {
    user-select: none;
}

.containerTab{
    /* display:grid; */
    /* background-color: #0a141eee; */
    background: transparent;
    /* grid-template-rows: 50px 50px; */
}

.containerRow1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}


.btn__inner {
  padding: 15px 30px; 

}

.gameButton {
    font-size:20px;
    border-radius:10px;
    margin:5px;
    font-weight:bold;
    padding-right: 25px;
    padding-left: 25px;
    /* border-style: none; */

}


.mapImgChoice{
    padding-top:10px;
    /* background-color: #0a141eee; */
    background: transparent;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#answerBox{
    /* background-color: #fa4454 !important; */
    color: white;
    font-size: xx-large;
    text-align: center;
    width: fit-content;
    margin: auto; 

}

.imgChoice{
    grid-column-start: 2;
    grid-column-start: 3;
    pointer-events: none;
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    width: 360px;
    height: 360px;
    margin-left: 2px;
}

#mapChoice{
    /* margin: auto; */
    /* padding: 10px; */
    margin-right: 2px;
    position: relative;
    width: 360px;
    height: 360px;

}

#curMap{
    width: 100%;
    /* object-fit: fill; */
}

.imgChoice, .mapChoice{
    border: 1px solid hsla(38,22%,90%,.5);
}

.trueImg{
    /* background-color: #000000; */
    /* scale: 1; */
    width: 100%;
    height: 100%;
    object-fit:cover;
    overflow: hidden;
    box-sizing: content-box;
    /* object-position:100% 0; */
    /* clip-path: inset(50% 50%); */
}



.board {
    grid-template-rows: repeat(5,70px);
    /* background-color: #0a141eee; */
    background: transparent;
    width: 550px;
    /* height: 1100px; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    
  
}

.row {
    
    /* min-width: 170px;
    min-height: 170px;
    max-height: 170px;
    max-width:170px; */
    height: 70px;
    border-radius:10px;
    display: grid;
    grid-template-columns: 170px 190px 170px;
}

.tile {
  
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color:black; */
    
    margin: 5px;
    border: 1px solid #7D8082;

    overflow-wrap:break-word;
    font-size: x-large;
}



.hint {
    color: white;
    text-align: center;
}

.category{
    text-align: center;
    vertical-align: bottom;
    /* height: 50%; */
} 

.cata{
    border-bottom:solid #fa4454;
    color: white;
    position:relative;
    top:50%;
    padding:10px;
    font-size: large;

}

/* GABE */



.callout{
    position: absolute;
    /* padding: 2px 2px; */
    /* height: 15px;
    line-height: 15px; */

    background: rgba(43,42,41,.9);
    
} 

.calloutText{
    padding: 2px;
    color: white;
    font-size: 10px;
    text-align: center;
}

@media (max-width: 750px) {
    /* .callout{
        height: 21px;
        width: 21px;
        
    }  */
    
    .calloutText{
        font-size: 8.5px;
    }
}


.callout:hover{
    transform: scale(1.065); 
    z-index: 1;
}

#nextGameButton::before,
#nextGameButton::after {
    content: '';
    display: block;
    position: absolute;
    right: 0; left: 0;
    height: calc(50% - 5px);
    border: 1px solid var(--border-color);
    transition: all .15s ease;
}

#nextGameButton::before {
    top: 0;
    border-bottom-width: 0;
}

#nextGameButton::after {
    bottom: 0;
    border-top-width: 0;
}

#nextGameButton_inner {
    font-size: 25px;
    font-family: 'VALORANT', sans-serif;
    min-width: 400px;
    padding: 25px 0px;  
    display: flex;
    flex-direction: column;

}

#correctGuessDiv{
    flex-direction: column !important;
}

#correctImg{
    width: 350px;
}

#instructions{
    color: #fa4454;
    font-size: 30px;
    text-align: center;
    padding: 10px;
}