#websiteSummary {
    text-align: center;
    color: #ece8e1;
    margin-top: 10px;
    font-size: 2em;
    margin-bottom: 0px;
}

#languageSelector {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#topBar {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#google_translate_element {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    visibility: hidden;
}

#changeLanguageButton {
    transform: scale(0.75);
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
}

#changeLanguageButton:hover {
    transform: scale(0.8);
}


/* Google stuff */

.goog-te-gadget-simple {
    background-color: black !important;
}

.goog-te-gadget-simple .VIpgJd-ZVi9od-xl07Ob-lTBxed {
    color: white !important;
}

.goog-te-gadget-icon {
    display: none !important;
    background-position: 0px !important;
}

/* Selection border */
.VIpgJd-ZVi9od-vH1Gmf {
    border: none;
}



.custom-dropdown {
    background-color: transparent;
}

.custom-dropdown select {
    display: none;
}

.custom-dropdown .select-label {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border: 1px solid #ece8e1;
    cursor: pointer;
    color: #ece8e1
}

/* .custom-dropdown img {
    width: 20px;
} */

.custom-dropdown .options {
    position: absolute;
    align-items: center;
    top: 100%;
    left: 0;
    width: 100%;
    display: none;
    background-color: #fff;
    border: 1px solid #ccc;
}

.custom-dropdown .option {
    padding: 5px 10px;
    cursor: pointer;
}

.custom-dropdown .option:hover {
    background-color: #f0f0f0;
}



.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#map, #agent, #ability, #quote, #weapon, #about {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.btn {
    min-width: 400px;
}

.btn__inner {
    min-width: 400px;
    padding: 25px 0px;  
    display: flex;
    flex-direction: column;
    font-family: 'VALORANT', sans-serif;
}

.btn__content {
    font-size: 1.6em;
}

.btn__description {
    font-size: 0.9em;
    color: #ece8e1;
    z-index: 1;
    margin-top: 10px;
}

.btn::before,
.btn::after {
    content: '';
    display: block;
    position: absolute;
    right: 0; left: 0;
    height: calc(50% - 5px);
    border: 1px solid var(--border-color);
    transition: all .15s ease;
}

.btn::before {
    top: 0;
    border-bottom-width: 0;
}

.btn::after {
    bottom: 0;
    border-top-width: 0;
}

.win_streak {


}

.streak_icon {
    position: absolute;
    scale: .4;
    top: -5px;
    right: -5px;
}

.streakBox {
    position: absolute;
    width: 24px;
    height: 24px;

    top: 14px;
    right: 13px;

}
.streak_number {

    scale: .8;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    bottom: 7px;

    color: white;
    transition: all .2s ease;
}

#about{
    transition: 75ms ease-out;
}
#about:hover{
    transform: scale(1.075); 
    cursor: grab;
}

.btnIcon {
    position: absolute;
    scale: .8;
    top: 22px;
    left: 10px;

}

.buttons button {
    text-align: left;
}

.buttons .btn__content, .buttons .btn__description {
    margin-left: 20%;
}

.buttons .btn__inner {
    padding-top: 30px;
    padding-bottom: 30px;
}




/* icons */

#mapRed, #mapStreak,
#agentRed, #agentStreak,
#abilityRed, #abilityStreak,
#weaponRed, #weaponStreak,
#quoteRed, #quoteStreak
{
    opacity: 1;
    transition: all .2s ease;
}

#mapWhite, #mapStreakWhite,
#agentWhite, #agentStreakWhite,
#abilityWhite, #abilityStreakWhite,
#weaponWhite, #weaponStreakWhite,
#quoteWhite, #quoteStreakWhite
{
    opacity: 0;
    transition: all .2s ease;
}

#mapRedirect:hover #mapRed, #mapRedirect:hover #mapStreak,
#agentRedirect:hover #agentRed, #agentRedirect:hover #agentStreak,
#abilityRedirect:hover #abilityRed, #abilityRedirect:hover #abilityStreak,
#weaponRedirect:hover #weaponRed, #weaponRedirect:hover #weaponStreak,
#quoteRedirect:hover #quoteRed, #quoteRedirect:hover #quoteStreak
{
    opacity: 0;
}

#mapRedirect:hover #mapWhite, #mapRedirect:hover #mapStreakWhite,
#agentRedirect:hover #agentWhite, #agentRedirect:hover #agentStreakWhite,
#abilityRedirect:hover #abilityWhite, #abilityRedirect:hover #abilityStreakWhite,
#weaponRedirect:hover #weaponWhite, #weaponRedirect:hover #weaponStreakWhite,
#quoteRedirect:hover #quoteWhite, #quoteRedirect:hover #quoteStreakWhite
{
    opacity: 1;
}

.btn:hover .streak_number {
    color: #ff4655;
}

