.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#map, #ability, #quote, #bundle {
    display: flex;
    align-items: center;
}

.gameButton {
    padding: 10px;
    padding-top: 17px;
    border-radius: 8px;
    width: 275px;
    font-size: 27px;
    margin: 5px;
}

.icon{
    width: 60px;
}
