<!DOCTYPE html>
<html lang="en">
    <head>
        <title>About</title>
        <link rel="icon" href="/static/images/tabIcon.png">
        <link href="https://fonts.cdnfonts.com/css/valorant" rel="stylesheet">
        <link rel="stylesheet" href="/static/styles.css">
        <link rel="stylesheet" href="/static/about.css">
        <!-- <link rel="stylesheet" href="/static/valdle.css"> -->
    </head>
    <body>

        <nav class="navbar">
            <a href="\">Valdle</a>
        </nav>
        <div id="textBody">
            <h1>A Wordle-Like game made to test users on their Valorant knowledge daily
            <br><br>
            Valdle was created under Riot Games' <a href="https://www.riotgames.com/en/legal" target="_blank">Legal Jibber Jabber</a> policy using assets owned by Riot Games.
            Valdle is a fan-made webiste and is not enorsed by Riot Games in any way. Riot Games, Valorant,
                and all associated properties are trademarks or registered trademarks of Riot Games, Inc.
                
            <br><br>Heavily inspired by <a href="https://loldle.net/" target="_blank">Loldle</a>
            </h1>
        </div>

        <div id="home">
            <img class="icon" src="static/images/homeIcon.png">
            <button class="btn btn--light" id="home" onclick="location.href='/'">
                <span class="btn__inner">
                    <span class="btn__slide"></span>
                    <span class="btn__content">Homepage</span>
                </span>
            </button>
            <img class="icon" src="static/images/tabIcon.png">
        </div>


    </body>


</html>