<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <meta charset="UTF-8" />
  <link rel="stylesheet" href="/static/guessMap.css">
  <link rel="stylesheet" href="/static/styles.css">
  
  <link rel="stylesheet" href="/static/guessTemplate.css">
  <link href="https://fonts.cdnfonts.com/css/valorant" rel="stylesheet">
  <title>Guess The Map</title>
  <link rel="icon" href="/static/images/tabIcon.png">
  <meta name="description" content="" />
  <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.5.1/dist/confetti.browser.min.js"></script>
  <script src="/static/confetti.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="/static/guessTemplate.js" defer></script>
  <script src="/static/guessMap.js" defer></script>
  <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
  <script type="text/javascript" src="/static/translate.js"></script>
  <script type="text/javascript" src="/static/resize.js" defer></script>

</head>

<body>
  <nav class="navbar">
    <a class="notranslate" href="\">vAldle</a>
  </nav>

  <div class="content">
    <div class="map_selection notranslate">
      <div class="containerTab">
        <div class="containerRow1">

          <button class="btn btn--light" onclick="createMap('Ascent')">
            <span class="btn__inner">
              <span class="btn__slide"></span>
              <span class="btn__content">Ascent</span>
            </span>
          </button>

          <button class="btn btn--light" onclick="createMap('Bind')">
            <span class="btn__inner">
              <span class="btn__slide"></span>
              <span class="btn__content">Bind</span>
            </span>
          </button>

          <button class="btn btn--light"  onclick="createMap('Breeze')">
            <span class="btn__inner">
              <span class="btn__slide"></span>
              <span class="btn__content">Breeze</span>
            </span>
          </button>

          <button class="btn btn--light"  onclick="createMap('Fracture')">
            <span class="btn__inner">
              <span class="btn__slide"></span>
              <span class="btn__content">Fracture</span>
            </span>
          </button>

          <button class="btn btn--light"  onclick="createMap('Haven')">
            <span class="btn__inner">
              <span class="btn__slide"></span>
              <span class="btn__content">Haven</span>
            </span>
          </button>

        </div>
        <div class="containerRow1">

          <button class="btn btn--light" onclick="createMap('Icebox')">
            <span class="btn__inner">
              <span class="btn__slide"></span>
              <span class="btn__content">IceBox</span>
            </span>
          </button>

          <button class="btn btn--light" onclick="createMap('Lotus')">
            <span class="btn__inner">
              <span class="btn__slide"></span>
              <span class="btn__content">Lotus</span>
            </span>
          </button>

          <button class="btn btn--light"  onclick="createMap('Pearl')">
            <span class="btn__inner">
              <span class="btn__slide"></span>
              <span class="btn__content">Pearl</span>
            </span>
          </button>

          <button class="btn btn--light"  onclick="createMap('Split')">
            <span class="btn__inner">
              <span class="btn__slide"></span>
              <span class="btn__content">Split</span>
            </span>
          </button>



        </div>

      </div>

      <div class="map">

      </div>
    </div>

    <div class="mapImgChoice" id="mapImgChoice">
      <div class="mapChoice" id="mapChoice"><img class="" id="curMap"></div>
      <div class="imgChoice"><img class="trueImg" id="trueImg"></div>
    </div>


    <div class="board">
      <div class="row">
        <div class="category"><span class="cata">Map Name</span></div>
        <div class="category"><span class="cata">Callout</span></div>
        <div class="category"><span class="cata">Location</span></div>
      </div>
    </div>

    <div class="board notranslate" id="listOfMapGuesses">

    </div>
  </div>
</body>

</html>