<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="/static/guessTemplate.css">
    <link rel="stylesheet" href="/static/valdle.css">
    <link href="https://fonts.cdnfonts.com/css/valorant" rel="stylesheet">

    <title>Guess The Quote</title>
    <link rel="icon" href="/static/images/tabIcon.png">
    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.5.1/dist/confetti.browser.min.js"></script>
    <script src="/static/confetti.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="/static/guessTemplate.js" defer></script>
    <script src="/static/guessQuote.js" defer></script>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <script type="text/javascript" src="/static/translate.js"></script>
    <script type="text/javascript" src="/static/resize.js" defer></script>
</head>


<body>

    <nav class="navbar">
        <a class="notranslate" href="\">vAldle</a>
    </nav>

    <div class = "linedeco">
        <hr>
        <p>	&#9670;</p>
    </div>

    <div id="gameArea">
        <div id="modeBox">
            <div class="prompt">
                <p>Guess The Agent By Quote</p>
                <hr>
            </div>
            <div class="guessTextDiv">
                <h1 class="notranslate" id="guessText"></h1>
            </div>
            <div class="hintDiv">
                <h2 id="audioHintText"></h2>
            </div>
            <div id="dropdown">
                <div id="userInputDiv">
                    <input type="text" placeholder="Search Agent.." id="searchInput" onfocus= "showButtons()" autocomplete="off">
                    <button id="submit" onclick="validateGuess()">></button>
                </div>
                <div id="optionNames" class="dropdown-content notranslate"></div>
            </div>
        </div>
        <div id="fullListOfGuesses">
            <!--Add Guesses-->
        </div>
  
    </div>
</body>

</html>