<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" href="/static/guessMap.css">
  <link rel="stylesheet" href="/static/styles.css">
  <link href="https://fonts.cdnfonts.com/css/valorant" rel="stylesheet">
  <title>Guess The Map</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="" />
  <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.5.1/dist/confetti.browser.min.js"></script>
  <script src="/static/confetti.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="/static/guessMap.js" defer></script>

</head>
<body>
  <nav class="navbar">
    <a href="\">Valdle</a>
  </nav>

  <div class="content">
    <div class="map_selection">
      <div class="containerTab">
        <div class="containerRow1">
            <div class="apple">apple</div>
            <button class="gameButton" id = "chooseAscent" onclick="createMap('Ascent')">Ascent</button>
            <button class="gameButton" id = "chooseBind" onclick="createMap('Bind')">Bind</button>
            <button class="gameButton" id = "chooseBreeze" onclick="createMap('Breeze')">Breeze</button>
            <button class="gameButton" id = "chooseFracture" onclick="createMap('Fracture')">Fracture</button>
            <button class="gameButton" id = "chooseHaven" onclick="createMap('Haven')">Haven</button>
            <div class="apple">apple</div>
        </div>
        <div class="containerRow2">
            <div class="apple">apple</div>
            <button class="gameButton" id = "chooseIcebox" onclick="createMap('Icebox')">Icebox</button>
            <button class="gameButton" id = "chooseLotus" onclick="createMap('Lotus')">Lotus</button>
            <button class="gameButton" id = "choosePearl" onclick="createMap('Pearl')">Pearl</button>
            <button class="gameButton" id = "chooseSplit" onclick="createMap('Split')">Split</button>
            <div class="apple">apple</div>
        </div>

      </div>
    
      <div class="map">
    
      </div>
    </div>

    <div class="mapImgChoice" id="mapImgChoice">
        <div class="fill1"></div>
        <div class="mapChoice" id="mapChoice"><img class="" id="curMap"></div>
        <div class="imgChoice"><img class ="trueImg" id ="trueImg"></div>
        <div class="fill2"></div>
    </div>
    <div>
      <h2 id="answerBox">
        
      </h2>
    </div>
    <div class="board" id="listOfMapGuesses">
      <div class="row">
        <div class="category"><span class="cata">Map Names</span></div>
        <div class="category"><span class="cata">Callout</span></div>
        <div class="category"><span class="cata">Location</span></div>
      </div>
      <!-- <div class="row">
        <div class="tile"><span class="hint"></span></div>
        <div class="tile"><span class="hint"></span></div>
        <div class="tile"><span class="hint"></span></div>
      </div> -->
      <!-- <div class="row" id="r2">
        <div class="tile"><span class="hint"></span></div>
        <div class="tile"><span class="hint"></span></div>
        <div class="tile"><span class="hint"></span></div>
      </div>
      <div class="row" id="r3">
        <div class="tile"><span class="hint"></span></div>
        <div class="tile"><span class="hint"></span></div>
        <div class="tile"><span class="hint"></span></div>
      </div>
      <div class="row" id="r4">
        <div class="tile"><span class="hint"></span></div>
        <div class="tile"><span class="hint"></span></div>
        <div class="tile"><span class="hint"></span></div>
      </div>
      <div class="row" id="r5">
        <div class="tile"><span class="hint"></span></div>
        <div class="tile"><span class="hint"></span></div>
        <div class="tile"><span class="hint"></span></div>
      </div> -->
    </div>
  </div>
  <a href="/guessAbility">guessAbility</a>
  
  <script src="/static/guessMap.js"></script>
  
</body>
</html>


<!-- GABE -->
<!-- <!doctype html>
<html>
<head>
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
<title>Valdle</title>
</head>
    <body>
        
        <div id="mapBox">
            <img id="curMap" src="https://media.valorant-api.com/maps/7eaecc1b-4337-bbf6-6ab9-04b8f06b3319/displayicon.png">
        </div>

        
        <script src="{{ url_for('static', filename='index.js') }}"></script>
        
    </body>
</html> -->