<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Guess The Ability</title>
        <link rel="icon" href="/static/images/tabIcon.png">
        <link href="https://fonts.cdnfonts.com/css/valorant" rel="stylesheet">
        <link rel="stylesheet" href="/static/guessTemplate.css">
        <link rel="stylesheet" href="/static/styles.css">
        <link rel="stylesheet" href="/static/valdle.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.5.1/dist/confetti.browser.min.js"></script>
        <script src="/static/confetti.js"></script>
        <script src="/static/guessTemplate.js" defer></script>
        <script src="/static/guessAbility.js" defer></script>
    </head>
    <body>

        <nav class="navbar">
            <a href="\">Valdle</a>
        </nav>

        <div id="gameArea">
            <div class="prompt">
                <p>Guess The Agent By Ability</p>
            </div>
            <div class="guessImageDiv">
                <div class="covers" id="tileGrid">
                    <!-- Covers added here through CSS -->
                </div>
                <img id="guessImage" src="">
            </div>
            <div id="dropdown">
                <div id="userInputDiv">
                    <input type="text" placeholder="Search Agent.." id="searchInput" onfocus= "showButtons()" autocomplete="off">
                    <button id="submit" onclick="validateGuess()">></button>
                </div>
                <div id="optionNames" class="dropdown-content"></div>
            </div>

            <div id="fullListOfGuesses">
                <!--Add Guesses-->
            </div>

            <div hidden id="partTwoDisplay">
                <p class="prompt">Bonus: Guess The Ability Name</p>
                <div id="whatName"></div>
            </div>  
            
            
        </div>

    </body>

    <script>
        // Generate the 3x3 grid tiles
        const gridContainer = document.getElementById("tileGrid");
        for (let i = 0; i < 9; i++) {
            const tile = document.createElement("div");
            const name = "cover" + (i+1).toString();
            tile.setAttribute("id", name)
            gridContainer.appendChild(tile);
        }
    </script>


</html>