<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" href="/static/guessMap.css">
  <link rel="stylesheet" href="/static/styles.css">
  
  <link rel="stylesheet" href="/static/guessTemplate.css">
  <link href="https://fonts.cdnfonts.com/css/valorant" rel="stylesheet">
  <title>Guess The Map</title>
  <link rel="icon" href="/static/images/tabIcon.png">
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="" />
  <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.5.1/dist/confetti.browser.min.js"></script>
  <script src="/static/confetti.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="/static/guessTemplate.js" defer></script>
  <script src="/static/guessMap.js" defer></script>

</head>

<body>
  <nav class="navbar">
    <a href="\">vAldle</a>
  </nav>

  <div class="content">
    <div class="map_selection">
      <div class="containerTab">
        <div class="containerRow1">

          <button class="btn btn--light" id="chooseAscent" onclick="createMap('Ascent')">
            <span class="btn__inner">
              <span class="btn__slide"></span>
              <span class="btn__content">Ascent</span>
            </span>
          </button>

          <button class="btn btn--light" id="chooseBind" onclick="createMap('Bind')">
            <span class="btn__inner">
              <span class="btn__slide"></span>
              <span class="btn__content">Bind</span>
            </span>
          </button>

          <button class="btn btn--light" id="chooseBreeze" onclick="createMap('Breeze')">
            <span class="btn__inner">
              <span class="btn__slide"></span>
              <span class="btn__content">Breeze</span>
            </span>
          </button>

          <button class="btn btn--light" id="chooseFracture" onclick="createMap('Fracture')">
            <span class="btn__inner">
              <span class="btn__slide"></span>
              <span class="btn__content">Fracture</span>
            </span>
          </button>

          <button class="btn btn--light" id="chooseHaven" onclick="createMap('Haven')">
            <span class="btn__inner">
              <span class="btn__slide"></span>
              <span class="btn__content">Haven</span>
            </span>
          </button>

        </div>
        <div class="containerRow1">

          <button class="btn btn--light" id="chooseIcebox" onclick="createMap('Icebox')">
            <span class="btn__inner">
              <span class="btn__slide"></span>
              <span class="btn__content">IceBox</span>
            </span>
          </button>

          <button class="btn btn--light" id="chooseLotus" onclick="createMap('Lotus')">
            <span class="btn__inner">
              <span class="btn__slide"></span>
              <span class="btn__content">Lotus</span>
            </span>
          </button>

          <button class="btn btn--light" id="choosePearl" onclick="createMap('Pearl')">
            <span class="btn__inner">
              <span class="btn__slide"></span>
              <span class="btn__content">Pearl</span>
            </span>
          </button>

          <button class="btn btn--light" id="chooseSplit" onclick="createMap('Split')">
            <span class="btn__inner">
              <span class="btn__slide"></span>
              <span class="btn__content">Split</span>
            </span>
          </button>



        </div>

      </div>

      <div class="map">

      </div>
    </div>

    <div class="mapImgChoice" id="mapImgChoice">
      <div class="fill1"></div>
      <div class="mapChoice" id="mapChoice"><img class="" id="curMap"></div>
      <div class="imgChoice"><img class="trueImg" id="trueImg"></div>
      <div class="fill2"></div>
    </div>


    <div class="board">
      <div class="row">
        <div class="category"><span class="cata">Map Name</span></div>
        <div class="category"><span class="cata">Callout</span></div>
        <div class="category"><span class="cata">Location</span></div>
      </div>
    </div>

    <div class="board" id="listOfMapGuesses">

    </div>
  </div>




  <div class="gameResults" style="display: none;">
    <div class="NGleftSide">
      <p class="gg">GG!</p>
      <p>Tries: 0</p>
      <p>Next Valdle:</p>
      <p>00:00:00</p>

      <button class="btn btn--light" id="guessAbilityButton" onclick="location.href='/guessAbility'">
        <span class="btn__inner">
          <span class="btn__slide"></span>
          <span class="btn__content">Guess Ability</span>
        </span>
      </button>

    </div>
    <div class="NGrightSide">
      <img class="imgAnswer" src="http://127.0.0.1:5000/guessMap/Lotus/Spawn/Attacker%20Side" alt="correct image">

    </div>

  </div>

</body>

</html>