<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Google tag (gtag.js) -->
		<script async="" src="https://www.googletagmanager.com/gtag/js?id=G-6F267CYZLQ"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag() {
				dataLayer.push(arguments);
			}
			gtag("js", new Date());

			gtag("config", "G-6F267CYZLQ");
		</script>
		<!-- <meta name="google-adsense-account" content="ca-pub-9727969275111127"> -->
		<meta content="width=device-width, initial-scale=1.0, maximum-scale=1" name="viewport" />
		<title>Guess The Agent</title>
		<link href="/static/images/tabIcon.webp" rel="icon" />
		<link href="https://fonts.cdnfonts.com/css/valorant" rel="stylesheet" />
		<link href="/static/guessTemplate.css" rel="stylesheet" />
		<link href="/static/styles.css" rel="stylesheet" />
		<link href="/static/valdle.css" rel="stylesheet" />
		<script defer="" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
		<script defer="" src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.5.1/dist/confetti.browser.min.js"></script>
		<script src="/static/pixelate.js" type="text/javascript"></script>
		<script defer="" src="/static/confetti.js"></script>
		<script defer="" src="/static/guessTemplate.js"></script>
		<script defer="" src="/static/guessAgent.js"></script>
		<script defer="" src="/static/resize.js" type="text/javascript"></script>
	</head>
	<body>
		<nav class="navbar">
			<a class="notranslate title" href="\"> vAldle </a>
		</nav>
		<div class="linedeco">
			<hr />
			<p>◆</p>
		</div>
		<div id="gameArea">
			<div id="modeBox">
				<div class="prompt">
					<p>Guess The Agent</p>
					<hr />
				</div>
				<div class="guessTextDiv">
					<h1 id="guessText" style="display: none">Take A Guess To Get Started!</h1>
				</div>
				<div id="dropdown">
					<div id="userInputDiv">
						<input
							autocomplete="off"
							id="searchInput"
							onfocus="showButtons()"
							placeholder="Search Agent.."
							type="text"
						/>
						<button id="submit" onclick="validateGuess()">
							<div class="searchArrow"></div>
						</button>
					</div>
					<div class="dropdown-content notranslate" id="optionNames"></div>
				</div>
			</div>
			<div class="board" id="topRow">
				<div class="row">
					<div class="category">
						<span class="cata"> Agent </span>
					</div>
					<div class="category">
						<span class="cata"> Gender </span>
					</div>
					<div class="category">
						<span class="cata"> Role </span>
					</div>
					<div class="category">
						<span class="cata"> Year </span>
					</div>
				</div>
			</div>
			<div class="board" id="listOfGuesses"></div>
			<div class="prompt" hidden="" id="agent2Prompt">
				<p>
					Bonus
					<br />
					Guess The Pixelated Agent Icon
				</p>
			</div>
		</div>
		<div data-ad-group="ad-group">
			<div class="ad-web" data-ad-key="left-banner">
				<html>
					<head>
						<script async="" src="https://a.magsrv.com/ad-provider.js" type="application/javascript"></script>
						<ins class="eas6a97888e17" data-zoneid="5453290"> </ins>
						<script>
							(AdProvider = window.AdProvider || []).push({ serve: {} });
						</script>
					</head>
				</html>
			</div>
			<div class="ad-web" data-ad-key="right-banner">
				<html>
					<head>
						<script async="" src="https://a.magsrv.com/ad-provider.js" type="application/javascript"></script>
						<ins class="eas6a97888e17" data-zoneid="5453292"> </ins>
						<script>
							(AdProvider = window.AdProvider || []).push({ serve: {} });
						</script>
					</head>
				</html>
			</div>
			<div class="ad-mobile" data-ad-key="mobile-bottom-banner">
				<html>
					<head>
						<script async="" src="https://a.magsrv.com/ad-provider.js" type="application/javascript"></script>
						<ins class="eas6a97888e14" data-zoneid="5453798"> </ins>
						<script>
							(AdProvider = window.AdProvider || []).push({ serve: {} });
						</script>
					</head>
				</html>
			</div>
		</div>
	</body>
</html>
