body{
    background-color: black;
}

#mapBox{
    border: 5px solid;
    margin: auto;
    /* width: 1000px; */
    padding: 10px;
    position: relative;
    flex:1;
}

#curMap, #mapBox{
    width: 500px;
}

/* .callout{
    top:0px;
    bottom:0px;
} */