<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-6F267CYZLQ"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-6F267CYZLQ');
    </script>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

    <title>Valdle - Test Your Valorant Knowledge Daily</title>
    <meta property="description" content="Test your Valorant knowledge daily through multiple modes!" />
    <meta name="description" content="Test your Valorant knowledge daily through multiple modes!" />
    <meta property="og:title" content="Valdle" />
    <meta property="og:description" content="Test your Valorant knowledge daily through multiple modes!" />
    <meta property="og:image" content="/static/images/tabIcon.png" />
    <meta charset="UTF-8">
    <title class="notranslate">Valdle</title>
    <link rel="icon" href="/static/images/tabIcon.png">
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="/static/valdle.css">
    <link href="https://fonts.cdnfonts.com/css/valorant" rel="stylesheet">
    <link href="https://db.onlinewebfonts.com/c/0201813274259c3d4f78760d19270bab?family=DIN+Next+LT+W04+Medium" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <script type="text/javascript" src="/static/translate.js"></script>
    <script type="text/javascript" src="/static/valdle.js" defer></script>
    <script type="text/javascript" src="/static/resize.js" defer></script>

</head>

<body>
    <nav class="navbar">
        <a class="notranslate" id="title">vAldle</a>
        <!-- <div class="icon" id="languageSelector">
            <div id="changeLanguage">
                <button id="changeLanguageButton"><img class="icon" src="/static/images/languageIcon.png"></button>
            </div>
            <div id="google_translate_element"></div>
        </div> -->
    </nav>
    <div id="topBar">
        <h1 id="websiteSummary">Test your valorant knowledge!</h1>
    </div>
    <div class="buttons">
        <div id="map">
            <button class="btn btn--light" id="mapRedirect" onclick="location.href='/guessMap'">
                <span class="btn__inner">
                    <span class="btn__slide"></span>
                    <img id="mapRed" class="btnIcon icon" src="static/images/mapIcon.png" alt="map icon">
                    <img id="mapWhite" class="btnIcon icon" src="static/images/mapIcon-WHITE.png" alt="map icon">
                    <span class="btn__content" id="button1Name">Map</span>
                    <span class="btn__description" id="button1Desc">Guess the map location from an image</span>
                    <div class="win_streak" style="display: none;">
                        <img id="mapStreak" class="icon streak_icon" src="static/images/streakIcon.png"
                            alt="streak icon">
                        <img id="mapStreakWhite" class="icon streak_icon" src="static/images/streakIcon-WHITE.png"
                            alt="white streak icon">
                            <div class = "streakBox">
                                <p class="streak_number" id="mapWinStreak"></p>
                            </div>
                    </div>
                </span>
            </button>


        </div>

        <div id="agent">
            <button class="btn btn--light" id="agentRedirect" onclick="location.href='/guessAgent'">
                <span class="btn__inner">
                    <span class="btn__slide"></span>
                    <img id = "agentRed" class="btnIcon icon" src="static/images/agentIcon.png" alt = "agent icon">
                    <img id = "agentWhite" class = "btnIcon icon" src="static/images/agentIcon-WHITE.png" alt="white agent icon">
                    <span class="btn__content" id="button2Name">Agent</span>
                    <span class="btn__description" id="button2Desc">Guess the agent</span>
                    <div class="win_streak" style="display: none;">
                        <img id = "agentStreak" class="icon streak_icon" src="static/images/streakIcon.png">
                        <img id="agentStreakWhite" class="icon streak_icon" src="static/images/streakIcon-WHITE.png"
                        alt="white streak icon">
                        <div class = "streakBox">
                            <p class="streak_number" id="mapWinStreak"></p>
                        </div>
                        
                    </div>
                </span>
            </button>

        </div>

        <div id="ability">

            <button class="btn btn--light" id="abilityRedirect" onclick="location.href='/guessAbility'">
                <span class="btn__inner">
                    <span class="btn__slide"></span>
                    <img id = "abilityRed" class="btnIcon icon" src="static/images/abilityIcon.png" alt = "ability icon">
                    <img id = "abilityWhite" class = "btnIcon icon" src="static/images/abilityIcon-WHITE.png" alt="white ability icon">
                    <span class="btn__content" id="button2Name">Ability</span>
                    <span class="btn__description" id="button2Desc">Sixteen tiles reveal an agent's ability</span>
                    <div class="win_streak" style="display: none;">
                        <img id = "abilityStreak" class="icon streak_icon" src="static/images/streakIcon.png">
                        <img id = "abilityStreakWhite" class="icon streak_icon" src="static/images/streakIcon-WHITE.png"
                            alt="white streak icon">
                            <div class = "streakBox">
                                <p class="streak_number" id="mapWinStreak"></p>
                            </div>
                    </div>
                </span>
            </button>

        </div>

        <div id="weapon">

            <button class="btn btn--light" id="weaponRedirect" onclick="location.href='/guessWeapon'">
                <span class="btn__inner">
                    <span class="btn__slide"></span>
                    <img id = "weaponRed" class="btnIcon icon" src="static/images/weaponIcon.png" alt = "weapon icon">
                    <img id = "weaponWhite" class = "btnIcon icon" src="static/images/weaponIcon-WHITE.png" alt="white weapon icon">
                    <span class="btn__content" id="button3Name">Weapon</span>
                    <span class="btn__description" id="button3Desc">Guess the weapon from an image</span>
                    <div class="win_streak" style="display: none;">
                        <img id = "weaponStreak" class="icon streak_icon" src="static/images/streakIcon.png">
                        <img id = "weaponStreakWhite" class="icon streak_icon" src="static/images/streakIcon-WHITE.png"
                            alt="white streak icon">
                        <div class = "streakBox">
                            <p class="streak_number" id="mapWinStreak"></p>
                        </div>
                    </div>
                </span>
            </button>

        </div>

        <div id="quote">

            <button class="btn btn--light" id="quoteRedirect" onclick="location.href='/guessQuote'">
                <span class="btn__inner">
                    <span class="btn__slide"></span>
                    <img id = "quoteRed" class="btnIcon icon" src="static/images/quoteIcon.png" alt = "quote icon">
                    <img id = "quoteWhite" class = "btnIcon icon" src="static/images/quoteIcon-WHITE.png" alt="white quote icon">
                    <span class="btn__content" id="button4Name">Quote</span>
                    <span class="btn__description" id="button4Desc">Guess which agent said the quote</span>
                    <div class="win_streak" style="display: none;">
                        <img id = "quoteStreak" class="icon streak_icon" src="static/images/streakIcon.png">
                        <img id = "quoteStreakWhite" class="icon streak_icon" src="static/images/streakIcon-WHITE.png"
                            alt="white streak icon">
                        <div class = "streakBox">
                            <p class="streak_number" id="mapWinStreak"></p>
                        </div>
                    </div>
                </span>
            </button>

        </div>
        <div id="about">
            <img class="icon" src="static/images/aboutIcon.png" onclick="location.href='about'">
        </div>
    </div>
</body>

<script>
    // $(document).ready(function() {
    //     // Allows toggle with globe button, between visible and hidden dropdown language menu
    //     const button = document.getElementById('changeLanguageButton');
    //     const dropdown = document.getElementById('google_translate_element');
    
    //     button.addEventListener('click', function () {
    //         dropdown.style.visibility = dropdown.style.visibility == "visible" ? "hidden" : "visible";
    //         dropdown.style.position = dropdown.style.position == "relative" ? "absolute" : "relative";
    //     });
    // });
</script>

</html>