<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Google tag (gtag.js) -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-6F267CYZLQ"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag() {
				dataLayer.push(arguments);
			}
			gtag("js", new Date());

			gtag("config", "G-6F267CYZLQ");
		</script>
		<!-- DONT DELETE -->
		<!-- <meta name="google-adsense-account" content="ca-pub-9727969275111127"> -->
		<!-- clickadu -->
		<meta name="clckd" content="98508a06919b4aac25026b0f682f97c0" />
		<!-- mediavine -->
		<script data-grow-initializer="">
			!(function () {
				window.growMe ||
					((window.growMe = function (e) {
						window.growMe._.push(e);
					}),
					(window.growMe._ = []));
				var e = document.createElement("script");
				(e.type = "text/javascript"),
					(e.src = "https://faves.grow.me/main.js"),
					(e.defer = !0),
					e.setAttribute("data-grow-faves-site-id", "U2l0ZTozOWJkMDU5OC1iZDNmLTQzODItOTY3Yy0yNWRiNThjMTgwODc=");
				var t = document.getElementsByTagName("script")[0];
				t.parentNode.insertBefore(e, t);
			})();
		</script>

		<!-- exoclick -->
		<meta name="6a97888e-site-verification" content="7602f009840bad90cd6cbe86b8dd7df2" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1" />

		<title>Valdle - Test Your Valorant Knowledge Daily</title>
		<meta property="og:title" content="valdle" />
		<meta name="title" content="valdle" />
		<meta
			property="description"
			content="How well do you really know Valorant? Play Valdle to find out! Test your Valorant knowledge daily through multiple modes of Valorant Wordle!"
		/>
		<meta
			name="description"
			content="How well do you really know Valorant? Play Valdle to find out! Test your Valorant knowledge daily through multiple modes of Valorant Wordle!"
		/>
		<meta
			property="og:description"
			content="How well do you really know Valorant? Play Valdle to find out! Test your Valorant knowledge daily through multiple modes of Valorant Wordle!"
		/>
		<meta property="og:image" content="/static/images/tabIcon.webp" />
		<meta name="image" content="/static/images/tabIcon.webp" />
		<meta charset="UTF-8" />
		<title class="notranslate">Valdle</title>
		<link rel="icon" href="/static/images/tabIcon.webp" />
		<link rel="stylesheet" href="/static/styles.css" />
		<link rel="stylesheet" href="/static/valdle.css" />
		<link href="https://fonts.cdnfonts.com/css/valorant" rel="stylesheet" />
		<!-- <link href="https://db.onlinewebfonts.com/c/0201813274259c3d4f78760d19270bab?family=DIN+Next+LT+W04+Medium" rel="stylesheet"> -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js" defer></script>
		<script type="text/javascript" src="/static/valdle.js" defer></script>
		<script type="text/javascript" src="/static/resize.js" defer></script>
	</head>

	<body>
		<img src="/static/images/tabIcon.webp" alt="valdle" style="display: none" />
		<div class="navbar">
			<a class="notranslate title">vAldle</a>
			<!-- <div id="languageSelector">
            <div id="google_translate_element" ></div>
        </div> -->
		</div>
		<div id="topBar">
			<h1 id="websiteSummary">Test your valorant knowledge!</h1>
			<!-- <span id="languageDisclaimer">( More languages coming soon! )</span> -->
			<!-- <h2 id="websiteSummary" style="color: #74CB71; font-size: x-large;">Now With Clove!</h2> -->
		</div>
		<div class="buttons">
			<div id="map">
				<button class="btn btn--light" id="mapRedirect" onclick="location.href='/guessMap'">
					<span class="btn__inner">
						<span class="btn__slide"></span>
						<img id="mapRed" class="btnIcon icon" src="static/images/mapIcon.webp" alt="map icon" />
						<img id="mapWhite" class="btnIcon icon" src="static/images/mapIcon-WHITE.webp" alt="map icon" />
						<span class="btn__content" id="button1Name">Map</span>
						<span class="btn__description" id="button1Desc">Guess the map location from an image</span>
						<div class="win_streak" style="display: none">
							<img id="mapStreak" class="icon streak_icon" src="static/images/streakIcon.webp" alt="streak icon" />
							<img
								id="mapStreakWhite"
								class="icon streak_icon"
								src="static/images/streakIcon-WHITE.webp"
								alt="white streak icon"
							/>
							<div class="streakBox">
								<p class="streak_number" id="mapWinStreak"></p>
							</div>
						</div>
					</span>
				</button>
			</div>

			<div id="agent">
				<button class="btn btn--light" id="agentRedirect" onclick="location.href='/guessAgent'">
					<span class="btn__inner">
						<span class="btn__slide"></span>
						<img id="agentRed" class="btnIcon icon" src="static/images/agentIcon.webp" alt="agent icon" />
						<img
							id="agentWhite"
							class="btnIcon icon"
							src="static/images/agentIcon-WHITE.webp"
							alt="white agent icon"
						/>
						<span class="btn__content" id="button2Name">Agent</span>
						<span class="btn__description" id="button2Desc">Guess the agent</span>
						<div class="win_streak" style="display: none">
							<img id="agentStreak" class="icon streak_icon" src="static/images/streakIcon.webp" />
							<img
								id="agentStreakWhite"
								class="icon streak_icon"
								src="static/images/streakIcon-WHITE.webp"
								alt="white streak icon"
							/>
							<div class="streakBox">
								<p class="streak_number" id="mapWinStreak"></p>
							</div>
						</div>
					</span>
				</button>
			</div>

			<div id="ability">
				<button class="btn btn--light" id="abilityRedirect" onclick="location.href='/guessAbility'">
					<span class="btn__inner">
						<span class="btn__slide"></span>
						<img id="abilityRed" class="btnIcon icon" src="static/images/abilityIcon.webp" alt="ability icon" />
						<img
							id="abilityWhite"
							class="btnIcon icon"
							src="static/images/abilityIcon-WHITE.webp"
							alt="white ability icon"
						/>
						<span class="btn__content" id="button2Name">Ability</span>
						<span class="btn__description" id="button2Desc">Sixteen tiles reveal an agent's ability</span>
						<div class="win_streak" style="display: none">
							<img id="abilityStreak" class="icon streak_icon" src="static/images/streakIcon.webp" />
							<img
								id="abilityStreakWhite"
								class="icon streak_icon"
								src="static/images/streakIcon-WHITE.webp"
								alt="white streak icon"
							/>
							<div class="streakBox">
								<p class="streak_number" id="mapWinStreak"></p>
							</div>
						</div>
					</span>
				</button>
			</div>

			<div id="weapon">
				<button class="btn btn--light" id="weaponRedirect" onclick="location.href='/guessWeapon'">
					<span class="btn__inner">
						<span class="btn__slide"></span>
						<img id="weaponRed" class="btnIcon icon" src="static/images/weaponIcon.webp" alt="weapon icon" />
						<img
							id="weaponWhite"
							class="btnIcon icon"
							src="static/images/weaponIcon-WHITE.webp"
							alt="white weapon icon"
						/>
						<span class="btn__content" id="button3Name">Weapon</span>
						<span class="btn__description" id="button3Desc">Guess the weapon skin from an image</span>
						<div class="win_streak" style="display: none">
							<img id="weaponStreak" class="icon streak_icon" src="static/images/streakIcon.webp" />
							<img
								id="weaponStreakWhite"
								class="icon streak_icon"
								src="static/images/streakIcon-WHITE.webp"
								alt="white streak icon"
							/>
							<div class="streakBox">
								<p class="streak_number" id="mapWinStreak"></p>
							</div>
						</div>
					</span>
				</button>
			</div>

			<div id="quote">
				<button class="btn btn--light" id="quoteRedirect" onclick="location.href='/guessQuote'">
					<span class="btn__inner">
						<span class="btn__slide"></span>
						<img id="quoteRed" class="btnIcon icon" src="static/images/quoteIcon.webp" alt="quote icon" />
						<img
							id="quoteWhite"
							class="btnIcon icon"
							src="static/images/quoteIcon-WHITE.webp"
							alt="white quote icon"
						/>
						<span class="btn__content" id="button4Name">Quote</span>
						<span class="btn__description" id="button4Desc">Guess which agent said the quote</span>
						<div class="win_streak" style="display: none">
							<img id="quoteStreak" class="icon streak_icon" src="static/images/streakIcon.webp" />
							<img
								id="quoteStreakWhite"
								class="icon streak_icon"
								src="static/images/streakIcon-WHITE.webp"
								alt="white streak icon"
							/>
							<div class="streakBox">
								<p class="streak_number" id="mapWinStreak"></p>
							</div>
						</div>
					</span>
				</button>
			</div>
		</div>

		<div id="bottomButtons">
			<div id="about">
				<img class="icon" src="static/images/aboutIcon.webp" onclick="location.href='about'" />
			</div>
			<a id="discord" target="_blank" href="https://discord.gg/w6T3HaRu3D">
				<img class="icon" src="static/images/discordIcon.png" />
			</a>
		</div>
		<div class="disclaimer">
			Valdle was created under Riot Games'
			<a href="https://www.riotgames.com/en/legal" target="_blank">Legal Jibber Jabber</a> policy using assets owned by Riot
			Games. Riot Games does not endorse or sponsor this project.
		</div>
		<div class="privacy-policy">
			<br />
			<a href="privacy">Privacy Policy</a>
			<br />
			<br />
			<br />
		</div>
		<!-- ads -->
		<script async type="application/javascript" src="https://a.magsrv.com/ad-provider.js"></script>
		<ins class="eas6a97888e17" data-zoneid="5453152"></ins>
		<script>
			(AdProvider = window.AdProvider || []).push({ serve: {} });
		</script>
	</body>
</html>
